<h4 class="prepend-2">Brews made from this recipe:</h4>

<table>
  <thead>
  <tr class="bottom">
    <th class="left_justify">Date</th>
    <th class="left_justify">Name</th>
    <th class="left_justify">Brewer</th>
    <th class="right_justify">Mash temp.</th>
    <th class="right_justify">Boil time</th>
    <th class="right_justify">OG</th>
    <th class="right_justify">FG</th>
    <th class="right_justify">Fermentation volume</th>
    <th></th>
  </tr>
  </thead>
  <% @brew.brew_sheets.sort!{|a,b| b.brew_date <=> a.brew_date}.each do |brew_sheet| %>
      <%= render brew_sheet %>
  <% end %>
</table>

<% if can? :manage, @brew %>
    <%= render "brew_sheets/form" %>
<% end %>


