<h4 class="prepend-2">Brews made from this recipe:</h4>

<table>
  <thead>
  <tr class="bottom">
    <th>brew_date</th>
    <th>name</th>
    <th>mash temp</th>
    <th>OG</th>
    <th>FG</th>
    <th>fermentation volume</th>
    <th>boil time</th>
  </tr>
  </thead>
  <% @brew.brew_sheets.sort!{|a,b| b.brew_date <=> a.brew_date}.each do |brew_sheet| %>
      <%= render brew_sheet %>
  <% end %>
</table>

<% if can? :manage, @brew %>
    <%= render "brew_sheets/form" %>
<% end %>


