<h1>Editing fermentable</h1>

<%= render 'form_edit' %>

<%= link_to 'Show', brewery_brew_fermentable_path(@fermentable.brew.brewery, @fermentable.brew, @fermentable) %> |
<%= link_to 'Back', brewery_brew_path(@fermentable.brew.brewery, @fermentable.brew) %>
