<h1>Editing hop_addition</h1>

<%= render 'form_edit' %>

<%= link_to 'Show', brewery_brew_hop_addition_path(@hop_addition.brew.brewery, @hop_addition.brew, @hop_addition) %> |
<%= link_to 'Back', brewery_brew_path(@hop_addition.brew.brewery, @hop_addition.brew) %>
